#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: small;
}

button {
  transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  padding: 1em;
  margin: 1em;
  background-color: lightgray;
  border-radius: 20px;
  border-width: medium;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: x-large;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
